<!-- Header Component -->
<div class="top-bar">
    <div class="top-bar-container">
        <div class="top-bar-contact">
            <a href="tel:4255551234"><i class="fas fa-phone"></i> (425) 555-1234</a>
            <a href="mailto:info@nzoyafoundation.org"><i class="fas fa-envelope"></i> info@nzoyafoundation.org</a>
        </div>
    </div>
</div>
<nav class="navbar">
    <div class="navbar-container">
        <a href="/Cancer/index.html" class="navbar-brand" data-href="/Cancer/index.html">
            <h1>Nzoya Foundation</h1>
        </a>
        <button class="navbar-toggle" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <ul class="navbar-menu">
            <li><a href="index.html" data-href="index.html">Home</a></li>
            <li><a href="pages/about.html" data-href="pages/about.html">About</a></li>
            <li><a href="pages/breast-cancer.html" data-href="pages/breast-cancer.html">Breast Cancer</a></li>
            <li><a href="pages/screening.html" data-href="pages/screening.html">Screening</a></li>
            <li><a href="pages/facilities.html" data-href="pages/facilities.html">Facilities</a></li>
            <li><a href="pages/resources.html" data-href="pages/resources.html">Resources</a></li>
            <li><a href="pages/faq.html" data-href="pages/faq.html">FAQ</a></li>
            <li><a href="pages/contact.html" data-href="pages/contact.html">Contact</a></li>
        </ul>
    </div>
</nav> 