<!-- Header Component -->

<nav class="navbar">
    <div class="navbar-container">
        <a href="/Cancer/index.html" class="navbar-brand" data-href="/Cancer/index.html">
            <h1>Nzoya Foundation</h1>
        </a>
        <button class="navbar-toggle" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <ul class="navbar-menu">
            <li><a href="index.html" data-href="index.html">Home</a></li>
            <li><a href="pages/about.html" data-href="pages/about.html">About</a></li>
            <li><a href="pages/breast-cancer.html" data-href="pages/breast-cancer.html">Breast Cancer</a></li>
            <li><a href="pages/screening.html" data-href="pages/screening.html">Screening</a></li>
            <li><a href="pages/resources.html" data-href="pages/resources.html">Resources</a></li>
            <li><a href="pages/faq.html" data-href="pages/faq.html">FAQ</a></li>
            <li><a href="pages/contact.html" data-href="pages/contact.html">Contact</a></li>
        </ul>
    </div>
</nav> 